# =============== #
# Unity generated #
# =============== #
OS_D/Temp/
OS_D/Logs/
OS_D/Obj/
OS_D/UnityGenerated/
OS_D/Library/
OS_D/Assets/AssetStoreTools*
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
OS_D/ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
.vs/
# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db